html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

#home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ac80a0; 
    flex-direction: column;
} 

#bio {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ece2d0;
    flex-direction: column;
}

#portfolio {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #582c4d;
    flex-direction: column;
}
#contact {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #17301c;
    flex-direction: column;
}