body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(227, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
}

/* Begin Debugging Code */
header,
main,
section,
article,
nav,
.logo {
    /* border: solid 2px #CCC; */
    padding: 8px;
    margin: 10px;
}

.logo {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}

/* aside,
body>header,
main,
.news-feed {
    border: solid 4px #000;
    padding: 10px;
    margin: 10px;
} */

/* End Debugging Code */

article {
    min-height: 300px;
}

#top-header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
} 

aside {
    background-color: rgb(227, 225, 225);
    position: fixed;
    right: 15px;
    top: 90px;
    height: 650px;
    width: 36vw;
}

main {
    /* background-color: white; */
    margin-top: 100px;
    width: 55vw;
    margin-left: 5vw;
} 

h1.logo {
    font-family: "Comfortaa", sans-serif;
    font-size: large;
    font-weight: bold;
}

#signout {
    margin-left: 10px;
    text-decoration: none;
}

#user {
    display: flex;
}

.srin {
    color: black;
    font-size: xx-large;
    margin-left: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
}

#sug1 {
    color:grey;
    font-weight: bold;
}

ul {
    padding-left: 3%;
    list-style-type: none;
    /* display: grid;
    align-items: start; */
    margin-top: 0;
}

li {
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: start;
    align-items: center;
}

li img#img2 {
    margin-top: 12px;
}

.userstyle {
    font-weight: bold;
    font-size: large;
}

.links {
    text-decoration: none;
    display: grid;
    align-content: center;
}

.prsug {
    color:grey;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-items: center;
}

main div {
    display: grid;
    justify-items: center;
}

section#stories {
    background-color: white;
    display: grid;
    font-size: small;
    color: grey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
}

img#img7 {
    border-style: solid;
    border-color: rgb(226, 221, 221);
    margin-left: 6px;
    margin-right: 6px;
}

section#mainposts {
    /* border-style: solid; */
    margin: 0;
    padding: 0;
}

header#userpost {
    font-weight: bold;
    font-size: x-large;
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: baseline;
    font-family: "Comfortaa", sans-serif;
}



article.post1 p#dots {
    display: grid;
    grid-column-start: 3;
    justify-items: end;
}

article.post1 {
    background-color: white;
    padding: 0;
}

article img#img13 {
    width: 100%;
    height: 500px;
    object-fit:fill;
}

button {
    border: none;
    background-color: transparent;
    font-size: larger;
}

div#icons {
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    justify-items: flex-end; */
}

button#bookmark {
    margin-left: 70%;
}

p.likes {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-left: 3%;
}

div#postcaption {
    display: flex;
}

p.captionuser {
    font-weight: bold;
    display: grid;
    justify-content: start;
    margin-left: 4%;
    margin-right: 2%;
}

/* p.postcaption {
   
} */

a.morelink {
    text-decoration: none;
}

div#postcomment1 {
    display: flex;
}

div#postcomment2 {
    display: flex;
}

p.days {
    margin-left: 1%;
    color: grey;
    font-size: small;
    display: grid;
    align-items: center;
}

input.ques {
    width:85%;
    border-style: none;
    font-size: medium;
}

/* section.addcomment {
    border-style: solid; 
    border-color: gray;
} */

a.postlink {
    text-decoration: none;
}

@media (max-width: 800px) {
    
        aside{
            display: none;
        }

        main {
            margin-top: 100px;
            width: 55vw;
            width: 100%;
            margin-left: 0;
            
        }
}